---

import AuthLayout from "@/layouts/AuthLayout.astro";
import Logo from "@/assets/images/logo-gapor.png";
import LoginForm from "@/components/auth/LoginForm.astro";
---

<AuthLayout title="Iniciar Sesión">
  <div class="relative z-10 bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
    <div class="text-center">
      <img class="mx-auto h-20 w-auto mb-4" src={Logo.src} alt="IESTP" />
      <h2 class="text-3xl font-bold text-gray-800">
        Inicia sesión en tu cuenta
      </h2>
    </div>
    <LoginForm />
    <p class="mt-6 text-center text-sm text-gray-600">
      Copyright © 2025 IESTP. Todos los derechos reservados.
    </p>
  </div>
</AuthLayout>
