---
const { title } = Astro.props;
import "@/styles/global.css";
import Pattern from "@/assets/images/pattern.svg";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title} | GAPOR</title>
  </head>
  <body>
    <main class="relative min-h-screen flex items-center justify-center">
      <!-- Imagen de fondo con desenfoque y opacidad -->
      <div class="absolute inset-0">
        <img
          src={Pattern.src}
          alt="Fondo"
          class="object-cover w-full h-full filter blur-xs"
        />
      </div>
      <!-- Overlay de degradado -->
      <div
        class="absolute inset-0 bg-gradient-to-br from-primary to-secondary opacity-60"
      >
      </div>
      <slot />
    </main>
  </body>
</html>
